{{define "web.header" -}}
<header class="flex items-center h-16 px-4 bg-white">
  <div class="text-3xl font-bold"><a href="/"><span class="text-sky-500">deein</span>.com</a></div>
  <div class="md:flex hidden flex-1 ml-8 h-full">
    <div class="flex flex-1 gap-x-6">
      <div class="group relative">
        <div class="flex items-center h-full text-lg transition-all group-hover:text-sky-500">Invest</div>
        <div
          class="xl:block hidden absolute top-12 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible">
          <div class="flex flex-wrap w-[48rem]">
            <div class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100">
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups">
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">Some text Some text Some text</div>
              </div>
            </div>
            <div class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100">
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups">
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">Some text Some text Some text</div>
              </div>
            </div>
            <div class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100">
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups">
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">Some text Some text Some text</div>
              </div>
            </div>
            <div class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100">
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups">
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">Some text Some text Some text</div>
              </div>
            </div>
            <div class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100">
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups">
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">Some text Some text Some text</div>
              </div>
            </div>
            <div class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100">
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups">
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">Some text Some text Some text</div>
              </div>
            </div>
            <div class="flex flex-1 px-8 py-6 border-t">
              <div class="text-gray-500">And more...</div>
            </div>
          </div>
        </div>
        <div
          class="xl:hidden md:block hidden absolute top-12 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible">
          <div class="flex flex-col w-56">
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Startups</div>
            <div class="my-2 border-t"></div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Featured investors</div>
          </div>
        </div>
      </div>
      <div class="group relative">
        <div class="flex items-center h-full text-lg transition-all group-hover:text-sky-500">Learn</div>
        <div
          class="md:block hidden absolute top-12 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible">
          <div class="flex flex-col w-56">
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">About</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-x-6">
      <div class="group relative">
        <div class="flex items-center h-full text-lg transition-all group-hover:text-sky-500">Raise capital</div>
        <div
          class="md:block hidden absolute top-12 right-0 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible">
          <div class="flex flex-col w-56">
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
            <div class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100">Raise capital</div>
          </div>
        </div>
      </div>
      <div class="flex items-center h-full text-lg">
        <a href="/login">Log in</a>
      </div>
      <div class="flex items-center h-full text-lg">
        <a href="/register">Sign up</a>
      </div>
    </div>
  </div>
  <div class="md:hidden flex flex-1 justify-end">
    <button id="mobile-menu-toggler">burger</button>
    <div id="mobile-menu" class="[&.dee--open]:block hidden">shown</div>
  </div>
</header>
{{- end}}
