{{define "web.footer" -}}
<footer class="bg-slate-900">
  <div class="mx-auto max-w-[75rem]">
    <div class="pt-16 pb-8">
      <img
        src="https://assets.republic.com/assets/logo/full/white/120x30/logo-54659cb6a37ad65e8e65799b0238c6ea0c0c4ed99ce66f7286fd1d175e718e73.svg"
        alt="deeincom">
    </div>
    <div class="py-8 border-t border-gray-700 text-gray-400 text-sm space-y-4">
      <p>This site (the "Site") is owned and maintained by OpenDeal Inc., which is not a registered broker-dealer.
        OpenDeal Inc. does not give investment advice, endorsement, analysis or recommendations with respect to
        any securities. All securities listed here are being offered by, and all information included on this
        Site is the responsibility of, the applicable issuer of such securities. The intermediary facilitating
        the offering will be identified in such offering's documentation.</p>
      <p>All funding-portal activities are conducted by OpenDeal Portal LLC doing business as Republic, a funding
        portal which is registered with the US Securities and Exchange Commission (SEC) as a funding portal
        (Portal) and is a member of the Financial Industry Regulatory Authority (FINRA). OpenDeal Portal LLC is
        located at 149 E 23rd St #2001, New York, NY 10010, please check out background on FINRA's Funding
        Portal page.</p>
    </div>
    <div class="pt-8 pb-16 border-t border-gray-700 text-gray-400 text-sm space-y-4">
      <p>Made on Earth</p>
    </div>
  </div>
</footer>
{{- end}}
