{{define "web.footer" -}}
<footer class="bg-slate-900 text-gray-400">
  <div class="mx-auto px-8 max-w-7xl">
    <div class="flex flex-wrap gap-8 pt-16 pb-8">
      <div class="md:w-56 w-full">
        <img
          src="https://assets.republic.com/assets/logo/full/white/120x30/logo-54659cb6a37ad65e8e65799b0238c6ea0c0c4ed99ce66f7286fd1d175e718e73.svg"
          alt="deeincom"
        />
        <div class="mt-8">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>
        <div class="flex gap-x-2 mt-8">
          <a class="transition-all hover:text-gray-300" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-facebook"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              ></path>
            </svg>
          </a>
          <a class="transition-all hover:text-gray-300" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-instagram"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <rect x="4" y="4" width="16" height="16" rx="4"></rect>
              <circle cx="12" cy="12" r="3"></circle>
              <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
            </svg>
          </a>
          <a class="transition-all hover:text-gray-300" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-twitter"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
              ></path>
            </svg>
          </a>
          <a class="transition-all hover:text-gray-300" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-linkedin"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <rect x="4" y="4" width="16" height="16" rx="2"></rect>
              <line x1="8" y1="11" x2="8" y2="16"></line>
              <line x1="8" y1="8" x2="8" y2="8.01"></line>
              <line x1="12" y1="16" x2="12" y2="11"></line>
              <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
            </svg>
          </a>
          <a class="transition-all hover:text-gray-300" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-discord"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="9" cy="12" r="1"></circle>
              <circle cx="15" cy="12" r="1"></circle>
              <path d="M7.5 7.5c3.5 -1 5.5 -1 9 0"></path>
              <path d="M7 16.5c3.5 1 6.5 1 10 0"></path>
              <path
                d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5"
              ></path>
              <path
                d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-1 flex-wrap gap-8">
        <div class="flex-1 whitespace-nowrap">
          <div class="text-lg text-gray-600">For investors</div>
          <div class="my-2 border-t border-gray-700"></div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
        </div>
        <div class="flex-1 whitespace-nowrap">
          <div class="text-lg text-gray-600">For investors</div>
          <div class="my-2 border-t border-gray-700"></div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
        </div>
        <div class="flex-1 whitespace-nowrap">
          <div class="text-lg text-gray-600">For investors</div>
          <div class="my-2 border-t border-gray-700"></div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
        </div>
        <div class="flex-1 whitespace-nowrap">
          <div class="text-lg text-gray-600">For investors</div>
          <div class="my-2 border-t border-gray-700"></div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
          <div class="transition-all hover:text-gray-200">
            <a href="/">Why invest</a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-8 border-t border-gray-700 text-sm space-y-4">
      <p>
        This site (the "Site") is owned and maintained by OpenDeal Inc., which
        is not a registered broker-dealer. OpenDeal Inc. does not give
        investment advice, endorsement, analysis or recommendations with respect
        to any securities. All securities listed here are being offered by, and
        all information included on this Site is the responsibility of, the
        applicable issuer of such securities. The intermediary facilitating the
        offering will be identified in such offering's documentation.
      </p>
      <p>
        All funding-portal activities are conducted by OpenDeal Portal LLC doing
        business as Republic, a funding portal which is registered with the US
        Securities and Exchange Commission (SEC) as a funding portal (Portal)
        and is a member of the Financial Industry Regulatory Authority (FINRA).
        OpenDeal Portal LLC is located at 149 E 23rd St #2001, New York, NY
        10010, please check out background on FINRA's Funding Portal page.
      </p>
    </div>
    <div class="pt-8 pb-16 border-t border-gray-700 text-sm space-y-4">
      <p>Made on Earth</p>
    </div>
  </div>
</footer>
{{- end}}
