{{define "web.header" -}}
<header class="flex items-center h-16 px-8 bg-slate-50">
  <div class="text-3xl font-bold">
    <a href="/">
      <img
        class="h-8 w-auto sm:h-10"
        src="https://tailwindui.com/img/logos/mark.svg?color=blue&shade=500"
        alt="deeincom"
      />
    </a>
  </div>
  <!-- Nav -->
  <div class="md:flex hidden flex-1 ml-8 h-full">
    <!-- Nav start block -->
    <div class="flex flex-1 gap-x-6">
      <!-- Nav item -->
      <div class="group relative">
        <div
          class="flex items-center h-full text-lg transition-all group-hover:text-sky-500"
        >
          <a href="/">Invest</a>
        </div>
        <!-- Nav item dropdown xl and up -->
        <div
          class="xl:block hidden absolute top-12 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible"
        >
          <div class="flex flex-wrap w-[48rem]">
            <div
              class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100"
            >
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups"
                />
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>
            </div>
            <div
              class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100"
            >
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups"
                />
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>
            </div>
            <div
              class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100"
            >
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups"
                />
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>
            </div>
            <div
              class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100"
            >
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups"
                />
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>
            </div>
            <div
              class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100"
            >
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups"
                />
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>
            </div>
            <div
              class="flex flex-initial w-64 px-8 py-6 transition-all hover:bg-slate-100"
            >
              <div class="flex-none w-8 mt-2">
                <img
                  src="https://assets.republic.com/assets/layouts/header/logo-republic-faa149a000d40ad157f84f1df52228fa5a761ef45717593dc4abb3eacd75adf5.svg"
                  alt="Startups"
                />
              </div>
              <div class="ml-6">
                <div class="text-xl">Startups</div>
                <div class="text-sm text-gray-500">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
              </div>
            </div>
            <div class="flex flex-1 px-8 py-6 border-t">
              <div class="text-gray-500">And more...</div>
            </div>
          </div>
        </div>
        <!-- Nav item dropdown md and up to xl -->
        <div
          class="xl:hidden md:block hidden absolute top-12 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible"
        >
          <div class="flex flex-col w-56">
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Startups
              </div>
            </a>
            <div class="my-2 border-t"></div>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Featured investors
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Nav item -->
      <div class="group relative">
        <div
          class="flex items-center h-full text-lg transition-all group-hover:text-sky-500"
        >
          <a href="/">Learn</a>
        </div>
        <!-- Nav item dropdown md and up -->
        <div
          class="md:block hidden absolute top-12 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible"
        >
          <div class="flex flex-col w-56">
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                About
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav end block -->
    <div class="flex gap-x-6">
      <!-- Nav item -->
      <div class="group relative">
        <div
          class="flex items-center h-full text-lg transition-all group-hover:text-sky-500"
        >
          <a href="/">Raise capital</a>
        </div>
        <!-- Nav item dropdown md and up -->
        <div
          class="md:block hidden absolute top-12 right-0 bg-slate-50 drop-shadow-md rounded-lg overflow-hidden opacity-0 invisible transition-all group-hover:top-14 group-hover:opacity-100 group-hover:visible"
        >
          <div class="flex flex-col w-56">
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
            <a href="/">
              <div
                class="px-6 py-3 transition-all hover:text-sky-500 hover:bg-slate-100"
              >
                Raise capital
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Nav item -->
      <div
        class="flex items-center h-full text-lg transition-all hover:text-sky-500"
      >
        <a href="/login">Log in</a>
      </div>
      <!-- Nav item -->
      <div class="flex items-center h-full text-lg">
        <div
          class="px-4 py-2 rounded transition-all bg-sky-500 text-white hover:bg-sky-600"
        >
          <a href="/register">Sign up</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Nav mobile -->
  <div class="md:hidden flex flex-1 justify-end">
    <button id="mobile-menu-toggler">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
    <div
      id="mobile-menu"
      class="[&.dee--open]:block hidden fixed inset-0 top-16 bg-slate-50"
    >
      <div data-disclosure="item">
        <div data-disclosure="toggler" class="flex justify-between px-6 py-3">
          <div class="text-lg font-bold">Invest</div>
          <div class="[.dee--open>&]:rotate-180 transition-all">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
        <div
          data-disclosure="content"
          class="[&.dee--open]:block hidden bg-slate-100"
        >
          <a href="/"><div class="px-6 py-3">Startups</div></a>
          <a href="/"><div class="px-6 py-3">Startups</div></a>
          <a href="/"><div class="px-6 py-3">Startups</div></a>
          <a href="/"><div class="px-6 py-3">Startups</div></a>
          <a href="/"><div class="px-6 py-3">Startups</div></a>
          <a href="/"><div class="px-6 py-3">Startups</div></a>
          <a href="/"><div class="px-6 py-3">Startups</div></a>
        </div>
      </div>
      <div data-disclosure="item">
        <div data-disclosure="toggler" class="flex justify-between px-6 py-3">
          <div class="text-lg font-bold">Learn</div>
          <div class="[.dee--open>&]:rotate-180 transition-all">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
        <div
          data-disclosure="content"
          class="[&.dee--open]:block hidden bg-slate-100"
        >
          <a href="/"><div class="px-6 py-3">About</div></a>
          <a href="/"><div class="px-6 py-3">About</div></a>
          <a href="/"><div class="px-6 py-3">About</div></a>
          <a href="/"><div class="px-6 py-3">About</div></a>
          <a href="/"><div class="px-6 py-3">About</div></a>
          <a href="/"><div class="px-6 py-3">About</div></a>
          <a href="/"><div class="px-6 py-3">About</div></a>
        </div>
      </div>
      <div data-disclosure="item">
        <div data-disclosure="toggler" class="flex justify-between px-6 py-3">
          <div class="text-lg font-bold">Raise capital</div>
          <div class="[.dee--open>&]:rotate-180 transition-all">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
        </div>
        <div
          data-disclosure="content"
          class="[&.dee--open]:block hidden bg-slate-100"
        >
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
          <a href="/"><div class="px-6 py-3">Raise capital</div></a>
        </div>
      </div>
      <div class="my-2 border-t"></div>
      <a href="/login">
        <div class="px-6 py-3 text-gray-500 text-lg">Log in</div>
      </a>
      <a href="/register">
        <div class="px-6 py-3 text-gray-500 text-lg">Sign up</div>
      </a>
    </div>
  </div>
</header>
{{- end}}
