{{define "web" -}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>deeincom</title>

  <link rel="preconnect" href="https://esm.sh/" crossorigin />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

  <link rel="stylesheet" href="https://esm.sh/@unocss/reset@latest/tailwind.css" />
  <link rel="stylesheet" href="/assets/web/css/deeincom.css" />
</head>

<body class="font-sans bg-gray-50 text-gray-700">
  {{template "web.header" .}}
  {{template "web.content" .}}
  {{template "web.footer" .}}
</body>

</html>
{{- end}}