{{define "web" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>deeincom</title>

    <link rel="preconnect" href="https://unpkg.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    <link
      rel="stylesheet"
      href="https://unpkg.com/@unocss/reset/tailwind.css"
    />
    {{block "web.header.css-before" . -}}{{- end}}

    <link rel="stylesheet" href="/assets/web/css/deeincom.css" />

    {{block "web.header.css-after" . -}}{{- end}}

    {{block "web.header.scripts-before" . -}}{{- end}}

    <script src="/assets/web/js/preload.js"></script>
    <script src="/assets/web/js/disclosure.js" defer></script>
    <script src="/assets/web/js/header.js" defer></script>

    {{block "web.header.scripts-after" . -}}{{- end}}
  </head>

  <body
    class="font-sans bg-white text-gray-700 [&.dee--within-screen]:overflow-hidden preload"
  >
    <!-- / -->
    {{template "web.header" .}}
    <!-- / -->
    {{template "web.content" .}}
    <!-- / -->
    {{template "web.footer" .}}
    <!-- / -->
    {{block "web.scripts" . -}}{{- end}}
  </body>
</html>
{{- end}}
