{{define "ui" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{block "title" . -}}
    <title>Đầu tư vì một tương lai thịnh vượng | deein.com</title>
    {{- end}}

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.webp" />

    <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin />
    <link rel="preconnect" href="https://unpkg.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    {{block "description" . -}}
    <meta name="description" content="default description" />
    {{- end}}
    <!---->
    {{block "robots" . -}}
    <meta name="robots" content="noindex,nofollow">
    {{- end}}
    <!---->
    {{block "opengraph" . -}} {{- end}}
    <!---->
    {{block "canonical" . -}}
    <link rel="canonical" href="https://deein.com{{.CurrentURL}}" />
    {{- end}}

    <link
      rel="stylesheet"
      href="/static/css/tw.css"
    />
    {{block "header.css-before" . -}} {{- end}}
    <link rel="stylesheet" href="/static/css/style.css?v=1" />
    {{block "header.css-after" . -}} {{- end}}
    <!---->
    {{block "header.scripts-before" . -}} {{- end}}
    <script src="/static/js/preload.js"></script>
    <script src="/static/js/disclosure.js" defer></script>
    <script src="/static/js/header.js" defer></script>
    {{block "header.scripts-after" . -}} {{- end}}
    <!---->
    {{if not .Localhost -}}
    <!-- Google Analytics -->
    {{- end}}
  </head>

  <body
    class="font-sans bg-white text-gray-700 [&.dee--within-screen]:overflow-hidden preload"
  >
    {{template "header" .}}
    <!---->
    {{template "body" .}}
    <!---->
    {{template "footer" .}}
    <!---->
    {{block "scripts". -}} {{- end}}
  </body>
</html>
{{- end}}
