{{ template "web" .}}
<!-- web.content -->
{{define "web.content" -}}
<main>
  <div class="bg-white">
    <div
      class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <div>
        <div class="flex items-center gap-4">
          <img
            class="rounded border w-10 h-10"
            src="https://uploads.republic.com/p/offerings/logos/small_2x/000/001/368/1368-1643713542-e4a0d3ced8d8f7a2714f8664ade321aeb8d57aa4.png"
            alt=""
          />
          <div class="text-5xl font-bold">Lambs</div>
        </div>
        <div class="mt-4 text-2xl text-gray-500">
          Apparel that boosts your immune health, cognition, recovery, and sleep
        </div>
        <div class="mt-4 space-x-1 text-sm">
          <span class="px-2 py-1 bg-blue-100 text-blue-500 uppercase rounded">
            Health care
          </span>
          <span class="px-2 py-1 bg-green-100 text-green-500 uppercase rounded">
            Health care
          </span>
        </div>
      </div>
      <div class="mt-10 lg:grid lg:grid-cols-3 lg:items-start lg:gap-x-8">
        <div class="col-span-2 flex flex-col">
          <div class="aspect-[3/1] w-full">
            <div>
              <img
                class="h-full w-full object-cover object-center sm:rounded-lg"
                src="https://uploads.republic.com/p/offerings/slider_media_items/contents/default_2x/000/003/728/3728-1646372978-99320c417d6cb46ca929ff68de2cd47817e88cd2.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
          <h1 class="text-4xl font-bold tracking-tight text-green-500">
            $555,555
          </h1>
          <div class="mt-2">
            <p class="text-xl tracking-tight text-gray-400">
              555% of minimum goal raised.
            </p>
          </div>
          <div class="mt-2 h-[5px] bg-green-400 w-full rounded-full"></div>
          <div class="mt-6">
            <div class="space-y-6 text-base text-gray-700">
              <p>
                The Zip Tote Basket is the perfect midpoint between shopping
                tote and comfy backpack. With convertible straps, you can hand
                carry, should sling, or backpack this convenient and spacious
                bag. The zip top and durable canvas construction keeps your
                goods protected for all-day use.
              </p>
            </div>
          </div>
          <form class="mt-6">
            <div class="sm:flex-col1 mt-10 flex">
              <button
                type="submit"
                class="flex w-full flex-1 items-center justify-center rounded-md border border-transparent bg-sky-600 py-3 px-8 text-2xl font-bold text-white hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full"
              >
                Invest in Lambs
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{{- end}}
