{{template "admin" .}}

{{define "body"}}
{{$label := split "accent:success:attention:severe:danger:open:closed:done:sponsors" ":"  }}

<div class="container-lg">
  <div class="col-12">

    <div class="d-flex flex-items-center mb-3">
      <h1 class="overflow-hidden flex-auto">
        File đính kèm
        <div class="text-small">{{.Product.Title}}</div>
      </h1>

      <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="btn btn-primary" aria-haspopup="true">
            Tạo mới
            <div class="dropdown-caret"></div>
        </summary>

        <ul class="dropdown-menu dropdown-menu-se">
            <li><a href="/admin/products/{{.Product.ID}}/attachments/create?type=document" class="dropdown-item" role="menuitem">Document</a></li>
            <li><a href="/admin/products/{{.Product.ID}}/attachments/create?type=image" class="dropdown-item" role="menuitem">Image</a></li>
            <li><a href="/admin/products/{{.Product.ID}}/attachments/create?type=video" class="dropdown-item" role="menuitem">Video</a></li>
        </ul>
      </details>
    </div>
    {{if .Attachments}}
    <div class="Box">
      <div>
        {{range .Attachments}}
        <div class="Box-row Box-row--hover-gray d-flex flex-items-center">
          <span class="mr-3">{{.Title}}</span>
          {{ if eq .Link $.Product.PosterLink }}
          <span class="Label ml-1 Label--severe">
            Poster
          </span>
          {{ end }}
          {{ if eq .Link $.Product.HouseCertificateLink }}
          <span class="Label ml-1 Label--severe">
            Sổ đỏ
          </span>
          {{ end }}
          {{ if eq .Link $.Product.FinancePlanLink }}
          <span class="Label ml-1 Label--severe">
            Kế hoạch tài chính chi tiết
          </span>
          {{ end }}
          <div class="flex-auto">
          </div>
          
          {{ if or (and (eq .ContentType `image`) (or (not (eq .Link $.Product.PosterLink)) (not (eq .Link $.Product.HouseCertificateLink))))
              (and (eq .ContentType `document`) (or (not (eq .Link $.Product.HouseCertificateLink)) (not (eq .Link $.Product.FinancePlanLink))))
            }}
          <details class="dropdown details-reset details-overlay d-inline-block mr-1">
            <summary class="btn btn-primary" aria-haspopup="true">
              Chọn làm
              <div class="dropdown-caret"></div>
            </summary>
            <ul class="dropdown-menu dropdown-menu-se">
              {{if (eq .ContentType `image`) }}
                {{ if not (eq .Link $.Product.PosterLink) }}
                <li>
                  <a class="dropdown-item" role="menuitem" 
                    href="/admin/products/{{ .Product.ID }}/attachments/{{ .ID }}/updateMedia?typeMedia=poster"
                  >Chọn làm poster</a>
                </li>
                {{ end }}
                
                {{ if not (eq .Link $.Product.HouseCertificateLink) }}
                <li>
                  <a class="dropdown-item" role="menuitem" 
                    href="/admin/products/{{ .Product.ID }}/attachments/{{ .ID }}/updateMedia?typeMedia=houseCertificate"
                    >Chọn làm sổ đỏ</a>
                </li>
                {{ end }}

              {{end}}

              {{if eq .ContentType `document` }}
                {{ if not (eq .Link $.Product.HouseCertificateLink) }}
                <li>
                  <a class="dropdown-item" role="menuitem" 
                    href="/admin/products/{{ .Product.ID }}/attachments/{{ .ID }}/updateMedia?typeMedia=houseCertificate"
                    >Chọn làm sổ đỏ</a>
                </li>
                {{ end }}
                {{ if not (eq .Link $.Product.FinancePlanLink) }}
                <li>
                  <a class="dropdown-item" role="menuitem" 
                    href="/admin/products/{{ .Product.ID }}/attachments/{{ .ID }}/updateMedia?typeMedia=financePlan"
                    >Kế hoạch tài chính chi tiết</a>
                </li>
                {{ end }}
              {{end}}
            </ul>
          </details>
          {{ end }}

          <a class="btn btn-xs mr-1" href="/admin/products/{{ .Product.ID }}/attachments/{{.ID}}/update">sửa</a>
          <a class="btn btn-danger btn-xs" href="/admin/products/{{ .Product.ID }}/attachments/{{ .ID }}/remove" onclick="return confirm('chắc nghen?');">xóa</a>
        </div>
        {{end}}
      </div>
    </div>

    {{else}}
    <div class="blankslate">
        <img referrerpolicy="no-referrer"
            src="https://media.discordapp.net/attachments/523522129296097290/981393406934806568/cry-min.jpg?width=112&height=112"
            alt="anime not found" class="blankslate-image" />
            <h3 class="blankslate-heading">Chưa có file đính kèm nào</h3>
            <p>Nhấn vào nút tạo mới bên trên để thêm file mới vào tài sản này.</p>
    </div>
    {{end}}

  {{template "pagination" . }}
</div>
</div>
{{end}}