{{template "admin" .}}

{{define "body"}}
{{$label := split "accent:success:attention:severe:danger:open:closed:done:sponsors" ":"  }}

<div class="container-lg">
  <div class="col-12">

    <div class="d-flex flex-items-center mb-3">
      <h1 class="overflow-hidden flex-auto">
        Danh sách đầu tư
        <div class="text-small">{{.Product.Title}}</div>
      </h1>
    </div>

    <div class="d-flex flex-items-center">
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/products/{{.Product.ID}}/invoices?status=open" class="BtnGroup-item btn" type="button">Mới tạo</a>
        <a href="/admin/products/{{.Product.ID}}/invoices?status=deposit" class="BtnGroup-item btn" type="button">Đã cọc</a>
        <a href="/admin/products/{{.Product.ID}}/invoices?status=collecting" class="BtnGroup-item btn" type="button">Đang hối tiền</a>
        <a href="/admin/products/{{.Product.ID}}/invoices?status=done" class="BtnGroup-item btn" type="button">Hoàn thành</a>
      </div>
    </div>

    {{if .Invoices}}
    <div class="Box">
      <div>
        {{range .Invoices}}
        <div class="Box-row Box-row--hover-gray d-flex flex-items-center">
          <span class="mr-3">Đơn {{.ID}}</span>
          <div class="flex-auto">
            <span 
            {{ if eq .Status "open" }} class="Label Label--accent" {{end}}
            {{ if eq .Status "deposit" }} class="Label Label--success" {{end}}
            {{ if eq .Status "collecting" }} class="Label Label--success" {{end}}
            {{ if eq .Status "collect_completed" }} class="Label Label--done" {{end}}
            {{ if eq .Status "refund" }} class="Label Label--severe" {{end}}
            {{ if eq .Status "slot_canceled" }} class="Label Label--close" {{end}}
            {{ if eq .Status "collect_canceled" }} class="Label Label--close" {{end}}
            >{{.Status}}</span>
          </div>
          <a class="btn btn-xs mr-1" href="/admin/products/{{$.Product.ID}}/invoices/{{.ID}}/view">Thông tin chi tiết</a>
        </div>
        {{end}}
      </div>
    </div>

    {{else}}
    <div class="blankslate">
        <img referrerpolicy="no-referrer"
            src="https://media.discordapp.net/attachments/523522129296097290/981393406934806568/cry-min.jpg?width=112&height=112"
            alt="anime not found" class="blankslate-image" />
            <h3 class="blankslate-heading">Chưa có nhà đầu tư nào tiếp cận</h3>
            <p>Hãy quay lại sau khi có nhà đầu tư xuống tiền.</p>
    </div>
    {{end}}

  {{template "pagination" . }}
</div>
</div>
{{end}}