{{template "admin" .}}

{{define "body"}}
{{$label := split "accent:success:attention:severe:danger:open:closed:done:sponsors" ":"  }}

<div class="container-lg">
  <div class="col-12">

    <div class="d-flex flex-items-center mb-3">
      <h1 class="overflow-hidden flex-auto">
        {{if (has_role .User "admin") }}
        Tài sản
        {{else if (has_role .User "deein_partner") }}
        Tài sản đã đăng
        {{end}}
      </h1>

      <details class="dropdown details-reset details-overlay d-inline-block">
        <summary class="btn btn-primary" aria-haspopup="true">
            Tạo mới
            <div class="dropdown-caret"></div>
        </summary>

        <ul class="dropdown-menu dropdown-menu-se">
            <li><a href="/admin/products/create" class="dropdown-item" role="menuitem">Tài sản</a></li>
        </ul>
      </details>
    </div>

    {{if .Products}}
    <div class="Box">
      <div>
        {{range .Products}}
        <div class="Box-row Box-row--hover-gray d-flex flex-items-center">
          <div>
            <a class="mr-3" href="/real-estate/{{ .Slug }}" target="_blank"><strong>{{.Title}}</strong></a>
            {{if and (has_role $.User "deein_partner") .CensoredAt}}
            <div class="text-small color-fg-subtle">
              Đã duyệt  {{tz_format .CensoredAt "2006-01-02 15:04" "Asia/Ho_Chi_Minh"}}
            </div>
            {{end}}
          </div>
          <div class="flex-auto">
          </div>
          {{if (has_role $.User "admin") }}
          <a class="btn btn-xs mr-2" href="/admin/products/{{.ID}}/invoices">Danh sách đầu tư</a>
          {{end}}

          {{if and (has_role $.User "admin") (eq .IsCensorship false) }}
          <a class="btn btn-xs mr-2" href="/admin/products/{{.ID}}/approve" onclick="return confirm('chắc nghen?');">Duyệt tài sản</a>
          {{end}}

          {{if or (has_role $.User "admin") (has_role $.User "deein_partner")}}
          <a class="btn btn-xs mr-2" href="/admin/products/{{.ID}}/attachments">files</a>
          {{end}}
          {{if or (has_role $.User "admin") (has_role $.User "deein_partner")}}
          <a class="btn btn-xs mr-2" href="/admin/products/{{.ID}}/update">sửa</a>
          {{end}}
          {{if (has_role $.User "admin") }}
          <a class="btn btn-danger btn-xs" href="/admin/products/{{.ID}}/remove" onclick="return confirm('chắc nghen?');">xóa</a>
          {{end}}
        </div>
        {{end}}
      </div>
    </div>

    {{else}}
    <div class="blankslate">
        <img referrerpolicy="no-referrer"
            src="https://media.discordapp.net/attachments/523522129296097290/981393406934806568/cry-min.jpg?width=112&height=112"
            alt="anime not found" class="blankslate-image" />
        <h3 class="blankslate-heading">Chưa có tài sản nào</h3>
        <p>Nhấn vào nút tạo mới bên trên để thêm tài sản mới.</p>
    </div>
    {{end}}

  {{template "pagination" . }}
</div>
</div>
{{end}}