{{template "admin" .}}

{{define "body"}}
{{$label := split "accent:success:attention:severe:danger:open:closed:done:sponsors" ":"  }}

<div class="container-lg">
  <div class="col-12">

    <div class="d-flex flex-items-center mb-3">
      <h1 class="overflow-hidden flex-auto">
        {{ if .IsKYCQuery }}Danh sách thành viên đang chờ KYC{{else}}Danh sách thành viên{{end}}
      </h1>
    </div>

    <div class="d-flex flex-items-center">
      {{ if .IsKYCQuery }}
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/users" class="BtnGroup-item btn" type="button">Tất cả User</a>
      </div>
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/users?partner_status=apply" class="BtnGroup-item btn" type="button">User chờ duyệt partner</a>
      </div>
      {{ else if .IsPartnerQuery }}
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/users" class="BtnGroup-item btn" type="button">Tất cả User</a>
      </div>
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/users?kyc_status=submited_kyc" class="BtnGroup-item btn" type="button">User chờ KYC</a>
      </div>
      {{ else }}
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/users?kyc_status=submited_kyc" class="BtnGroup-item btn" type="button">User chờ KYC</a>
      </div>
      <div class="BtnGroup d-block mb-2">
        <a href="/admin/users?partner_status=apply" class="BtnGroup-item btn" type="button">User chờ duyệt partner</a>
      </div>
      {{end}}
    </div>

    {{if .Users}}
    <div class="Box">
      <div>
        {{range .Users}}
        <div class="Box-row Box-row--hover-gray d-flex flex-items-center">
          <span class="mr-3">{{.FirstName}} {{.LastName}} - {{.Phone}}</span>
          <div class="flex-auto">
            {{range .Roles}}
                <span class="Label Label--{{sureFind $label .}}">{{.}}</span>
            {{end}}
          </div>
          <a class="btn btn-xs mr-2" href="/admin/users/{{.ID}}/detail">chi tiết</a>
        </div>
        {{end}}
      </div>
    </div>

    {{else}}
    <div class="blankslate">
        <img referrerpolicy="no-referrer"
            src="https://media.discordapp.net/attachments/523522129296097290/981393406934806568/cry-min.jpg?width=112&height=112"
            alt="anime not found" class="blankslate-image" />
        <h3 class="blankslate-heading">Web chưa có thành viên nào</h3>
        <p>Hy vọng vài ngày tới sẽ có nhiều người biết đến web hơn.</p>
    </div>
    {{end}}

  {{template "pagination" . }}
</div>
</div>
{{end}}