{{template "admin" .}}

{{define "body"}}
{{$label := split "accent:success:attention:severe:danger:open:closed:done:sponsors" ":"  }}

<div class="container-lg">
  <div class="col-12">

    <h1>Phản hồi thông tin KYC</h1>
    <div class="Subhead">
      <div class="Subhead-description">{{.User.FirstName}} {{.User.LastName}} ‧ {{.User.Phone}}  ‧ {{.User.Email}}</div>
    </div>

    <div class="d-flex flex-items-center mb-3">
      <h1 class="overflow-hidden flex-auto">
      </h1>
    </div>

    {{with .Form}}
    <form method="POST">
      <div class="Subhead">
        <h2 class="Subhead-heading">Thông tin KYC</h2>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label>Ảnh mặt trước CCCD/CMND</label>
        </div>
        <div class="form-group-body">
          <img src="{{ to_cdn_link $.User.FrontIdentityCard }}" alt="preview" height="380">
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label>Ảnh mặt sau CCCD/CMND</label>
        </div>
        <div class="form-group-body">
          <img src="{{ to_cdn_link  $.User.BackIdentityCard }}" alt="preview" height="380">
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label>Ảnh sự chụp cùng CCCD/CMND</label>
        </div>
        <div class="form-group-body">
          <img src="{{ to_cdn_link  $.User.SelfieImage }}" alt="preview" height="380">
        </div>
      </div>

      <div class="Subhead">
        <h2 class="Subhead-heading">Phản hồi KYC</h2>
      </div>

      <div class="form-group">
        <div class="form-group-header">
            <label>Chọn phản hồi:</label>
        </div>
        <div class="form-group-body">
          <select class="form-select" name="KYCStatus">
            <option value="approved_kyc"  {{ if eq (.Get `KYCStatus`) "approved_kyc" }}selected{{end }}>Đồng ý</option>
            <option value="failed_kyc" {{ if eq (.Get `KYCStatus`) "failed_kyc" }}selected{{end }}>Thất bại</option>
            <option value="rejected_kyc" {{ if eq (.Get `KYCStatus`) "rejected_kyc" }}selected{{end }}>Từ chối</option>
          </select>
        </div>
        <p class="note">Phản hồi: Đồng ý, Thất bại, Từ chối (Không cho user tải lại kyc mãi mãi).</p>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label>Tin nhắn phản hồi:</label>
        </div>
        <div class="form-group-body">
          <textarea class="form-control" name="LastKYCFeedback">{{.Get `LastKYCFeedback`}}</textarea>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Cập nhật</button>
    </form>
    {{end}}

  {{template "pagination" . }}
</div>
</div>
{{end}}