{{template "admin" .}}

{{define "body"}}
{{$label := split "accent:success:attention:severe:danger:open:closed:done:sponsors" ":"  }}

<div class="container-lg">
  <div class="col-12">

    <div class="Subhead">
        <h2 class="Subhead-heading">Thông tin chi tiết</h2>
        <div class="Subhead-description">{{.User.FirstName}} {{.User.LastName}} ‧ {{.User.Phone}}  ‧ {{.User.Email}}</div>
      </div>
    <div class="d-flex flex-items-center mb-3">
      <h1 class="overflow-hidden flex-auto">

      </h1>
    </div>

    {{ if .KYCList }}
    <div class="Subhead">
      <h2 class="Subhead-heading">Thông tin KYC</h2>
    </div>
      {{ range .KYCList }}
        <div class="Subhead-description">
          Ngày tháng, {{ $.User.FirstName}} {{ $.User.LastName }} chờ duyệt KYC
        </div>
      {{ end}}
    {{end}}

  {{template "pagination" . }}
</div>
</div>
{{end}}