{{define "blog.menu" -}}
<ul role="list" class="mt-8 divide-y divide-sky-200 rounded-md overflow-hidden">
  <li
    class="relative bg-sky-50 py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-sky-600 hover:bg-sky-100"
  >
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <a href="#" class="block focus:outline-none">
          <p class="text-lg font-bold text-sky-700">
            Lorem ipsum dolor sit amet consectetur adipisicing elit
          </p>
        </a>
      </div>
    </div>
  </li>
  <li
    class="relative bg-sky-50 py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-sky-600 hover:bg-sky-100"
  >
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <a href="#" class="block focus:outline-none">
          <p class="text-lg font-bold text-gray-900">
            Lorem ipsum dolor sit amet consectetur adipisicing elit
          </p>
        </a>
      </div>
    </div>
  </li>
  <li
    class="relative bg-sky-50 py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-sky-600 hover:bg-sky-100"
  >
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <a href="#" class="block focus:outline-none">
          <p class="text-lg font-bold text-gray-900">
            Lorem ipsum dolor sit amet consectetur adipisicing elit
          </p>
        </a>
      </div>
    </div>
  </li>
  <li
    class="relative bg-sky-50 py-5 px-4 focus-within:ring-2 focus-within:ring-inset focus-within:ring-sky-600 hover:bg-sky-100"
  >
    <div class="flex justify-between space-x-3">
      <div class="min-w-0 flex-1">
        <a href="#" class="block focus:outline-none">
          <p class="text-lg font-bold text-gray-900">
            Lorem ipsum dolor sit amet consectetur adipisicing elit
          </p>
        </a>
      </div>
    </div>
  </li>
</ul>
{{- end}}
