{{define "blog.ol2" -}}
<ol role="list" class="not-prose dee-ol dee-ol2">
  <li>
    <div class="">
      <h4 class="font-bold text-xl">Lorem ipsum dolor sit amet</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ducimus
        vitae qui sapiente eos exercitationem quisquam laudantium cupiditate
        similique quis cumque numquam maxime ex dolorem, ut modi excepturi
        accusantium expedita.
      </p>
    </div>
  </li>
  <li>
    <div class="">
      <h4 class="font-bold text-xl">Lorem ipsum dolor sit amet</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
  </li>
  <li>
    <div class="">
      <h4 class="font-bold text-xl">Lorem ipsum dolor sit amet</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
  </li>
  <li>
    <div class="">
      <h4 class="font-bold text-xl">Lorem ipsum dolor sit amet</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
  </li>
</ol>
{{- end}}
