{{define "admin"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deein Admin Control</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/be/css/primer.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.2.0/tinymce.min.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="/be/img/favicon-32x32.png">
  <style type="text/css">
   tr {
      background-color: var(--color-canvas-default);
      border-top: 1px solid var(--color-border-muted);
    }
    tr:nth-child(2n) {
      background-color: var(--color-canvas-subtle);
    }
    th, td {
      padding: 6px 13px;
      border: 1px solid var(--color-border-default);
    }
  </style>
</head>
<body>
  <div class="Header">
    <div class="Header-item">
      <a class="Header-link d-flex flex-items-center" href="/">
        <svg class="octicon mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M0 13C0 6.373 5.373 1 12 1s12 5.373 12 12v8.657a.75.75 0 01-1.5 0V13c0-5.799-4.701-10.5-10.5-10.5S1.5 7.201 1.5 13v8.657a.75.75 0 01-1.5 0V13z"></path><path d="M8 19.75a.75.75 0 01.75-.75h6.5a.75.75 0 010 1.5h-6.5a.75.75 0 01-.75-.75z"></path><path fill-rule="evenodd" d="M5.25 9.5a1.75 1.75 0 00-1.75 1.75v3.5c0 .966.784 1.75 1.75 1.75h13.5a1.75 1.75 0 001.75-1.75v-3.5a1.75 1.75 0 00-1.75-1.75H5.25zm.22 1.47a.75.75 0 011.06 0L9 13.44l2.47-2.47a.75.75 0 011.06 0L15 13.44l2.47-2.47a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-1.06 0L12 12.56l-2.47 2.47a.75.75 0 01-1.06 0l-3-3a.75.75 0 010-1.06z"></path></svg> Deein Admin Control
      </a>
    </div>
  </div>

    {{template "header" .}}

    {{template "body" .}}

    <footer class="footer width-full container-xl p-responsive" role="contentinfo">
      <div class="pb-2 f6 color-fg-muted border-top color-border-muted mt-6 pt-6">
        <ul class="list-style-none mb-2 mb-lg-0" style="text-align: center;">
          <li class="mt-2 mt-lg-0">
            <a aria-label="Homepage" title="CLGT" class="footer-octicon mr-2" href="https://clgt.vn">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M0 13C0 6.373 5.373 1 12 1s12 5.373 12 12v8.657a.75.75 0 01-1.5 0V13c0-5.799-4.701-10.5-10.5-10.5S1.5 7.201 1.5 13v8.657a.75.75 0 01-1.5 0V13z"></path><path d="M8 19.75a.75.75 0 01.75-.75h6.5a.75.75 0 010 1.5h-6.5a.75.75 0 01-.75-.75z"></path><path fill-rule="evenodd" d="M5.25 9.5a1.75 1.75 0 00-1.75 1.75v3.5c0 .966.784 1.75 1.75 1.75h13.5a1.75 1.75 0 001.75-1.75v-3.5a1.75 1.75 0 00-1.75-1.75H5.25zm.22 1.47a.75.75 0 011.06 0L9 13.44l2.47-2.47a.75.75 0 011.06 0L15 13.44l2.47-2.47a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-1.06 0L12 12.56l-2.47 2.47a.75.75 0 01-1.06 0l-3-3a.75.75 0 010-1.06z"></path></svg>
            </a>
            <span>
            © 2022 DEEIN
            </span>
          </li>
        </ul>
      </div>
    </footer>
    <script src="/be/js/admin.js?v=2"></script>
    {{block "scripts" . -}}
    {{- end}}
</body>
</html>
{{end}}
