{{template "ui" .}}

{{define "title" -}}
<title>Cài lại mật khẩu | deein.com</title>
{{- end}}
<!---->
{{define "description" -}}
<meta name="description" content="Cài lại mật khẩu vào website deein.com" />
{{- end}}

<!---->
{{define "body" -}}
<main class="px-4">
  <div class="flex flex-col justify-center mt-16 mb-8 sm:px-6 lg:px-8">
    <h2 class="text-center text-3xl font-bold tracking-tight text-gray-900">
      Cài lại mật khẩu
    </h2>
  </div>
  <div class="mt-8 mb-16 sm:mx-auto sm:w-full sm:max-w-md relative">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      {{if .Form.Errors.Get `err`}}
      <div class="rounded-md bg-red-50 p-4 mb-4" id="login-form-error">
        <div class="flex">
          <div class="ml-3">
            <h3 class="text-sm font-bold text-red-600">
              {{__ (.Form.Errors.Get `err`)}}
            </h3>
          </div>
        </div>
      </div>
      {{end}}
      <form class="space-y-6" id="login-form" method="post">
        <div>
          <label for="password" class="block text-sm font-bold text-gray-700">
            {{if .IsResetPwdByToken }}Mã code{{else}}Mật khẩu cũ{{end}}
          </label>
          <div class="mt-1">
            <input
              name="Token"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
            />
            <p class="note">Mã code được gửi tới số điện thoại người bằng sms.</p>
          </div>
        </div>
        <div>
          <label for="password" class="block text-sm font-bold text-gray-700">
            Mật khẩu
          </label>
          <div class="mt-1">
            <input
              id="password"
              name="Password"
              type="password"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
            />
          </div>
        </div>
        <div>
          <label for="password" class="block text-sm font-bold text-gray-700">
            Mật khẩu
          </label>
          <div class="mt-1">
            <input
              id="repeatPassword"
              name="RepeatPassword"
              type="password"
              required
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
            />
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md border border-transparent bg-sky-600 py-2 px-4 text-sm font-bold text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
            id="login-form-submit"
          >
            Cài lại
          </button>
        </div>
      </form>
    </div>
    <div class="absolute inset-0 select-none hidden" id="login-form-overlay">
      <div class="absolute inset-0 w-full h-full bg-white opacity-50"></div>
      <div class="flex h-full items-center justify-center">
        <svg
          class="animate-spin h-8 w-8 text-black"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</main>
{{- end}}
